<style>
  .bubble {
    position: fixed;
    right: 30px;
    bottom: 30px;
  }
</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css" rel="stylesheet">
<link href="/vendor/datepicker/css/bootstrap-datepicker.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="row"></div>
    </div>
  </div>
</div>
<hr>
<h2 class="text-center">RECOMMENDED RESTAURANT</h2>
<hr>
<div class="container" id="app">
  <div class="row text-center">
    <!--each restaurant-->
    <%# @restaurants.each do |restaurant| %>
    <div class="col-md-4 pb-1 pb-md-0" style="margin-bottom: 20px;" v-for="(item,index) in rest">
      <div class="card">
        <img class="card-img-top" :src="item.image.url" alt="Card image cap" style="width: 338px; height: 225px">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">Rate :
            <template v-if="item.average_star>0" v-for="index in Math.round(item.average_star)">
              <span class="fa fa-star"></span>
            </template>
            <template v-if="item.average_star ==0">
              not rated yet
            </template>
          </p>
          <!--<a href="/EON51" class="btn btn-primary">Choose</a>-->
          <div class="row">
            <div class="offset-md-3 col-md-2">
              <a :href="'/restaurants/' + item.id" class="btn btn-primary" target="_blank" style="color: #f8f9fa">Details</a>
            </div>
            <div class="col-md-6">
              <button class="btn btn-success" @click="addToCart(index)" v-if="!choosingRestaurantIds.includes(index)">Choose</button>
              <button class="btn btn-warning" @click="deleteFromCart(index)" v-if="choosingRestaurantIds.includes(index)">Undo
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# end %>
    <!--each restaurant-->

    <div class="bubble" id="cart-corner">
      <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-cart-arrow-down"></i> ({{this.amount}})
      </button>
    </div>
  </div>
  <!-- Modal show restaurant-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Choosing restaurants </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" style="margin-left: 10px">
            <div class="col-md-4">
              <label for="">Deadline</label>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input class="datepicker" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" id="deadline">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group clockpicker">
                  <div class="col-xs-1">
                    <input type="text" class="form-control" value="09:30" id="start">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left: 10px">
            <div class="col-md-4">
              <label for="">Order receipt time</label>
            </div>
            <div class="col-md-4">
              <input class="datepicker" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" id="receipt">
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="input-group clockpicker">
                  <div class="col-xs-1">
                    <input type="text" class="form-control" value="09:30" id="end">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Show menu</th>
              <th scope="col">Manipulation</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(restId,index) in choosingRestaurantIds">
              <th scope="row">{{index+1}}</th>
              <td>{{rest[restId].name}}</td>
              <td>
                <button class="btn btn-outline-info" @click="showMenu(restId)"><i class="fas fa-eye"></i></button>
              </td>
              <td>
                <button class="btn btn-danger" @click="deleteFromCart(restId)"><i class="fas fa-ban"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
          <button class="btn btn-outline-success" @click="submitOrder" v-if="submitted == 0 && this.choosingId.length >0">Submit</button>
          <div style="margin: 5px" v-if="submitted != 0">
            <div class="row">
              <div class="col-md-9">
                <input class="form-control" name="order_link" style="display: inline" v-model="link" id="order_link">
              </div>
              <div class="col-md-3">
                <button class="btn btn-primary" style="display: inline" @click="copyToClipBoard">Copy link</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" @click="cancelOrder" v-if="submitted !=0">Cancel this order</button>
          <!--          <button type="button" class="btn btn-primary">Submit</button>-->
        </div>
      </div>
    </div>
  </div>
  <!-- Modal showing menu-->
  <!-- Modal -->
  <div class="modal fade" id="menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">List of foods</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Cost</th>
              <th scope="col">Star</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(food,index) in menu.foods">
              <th scope="row">{{index+1}}</th>
              <td>{{food.name}}</td>
              <td>{{food.default_price}}</td>
              <td>{{food.average_star}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.js"></script>
<script src="/vendor/datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.clockpicker').clockpicker();
        $('.datepicker').datepicker();
    });
</script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            start: '',
            end: '',
            rest: [],
            choosingRestaurantIds: [],
            menu: [],
            submitted: 0,
            link: '',
            status: '',
            pickedRestaurants: [],
            successfulLoad: 0,
            code: '',
        },
        methods: {
            getListRetaurants: function () {
                axios.get('/load-list-restaurants', {}).then(function (res) {
                    let rest = res.data.list;
                    app.rest = rest;
                    app.successfulLoad += 1;
                }).catch(function (err) {
                    console.log(err.data);
                })
            },
            addToCart: function (index) {
                if (!this.choosingRestaurantIds.includes(index)) {
                    this.choosingRestaurantIds.push(index);
                }
            },
            deleteFromCart: function (index) {
                if (this.submitted == 0) {
                    this.choosingRestaurantIds = this.choosingRestaurantIds.filter(value => value != index);
                } else {
                    alert("Can not modify this order");
                }
            },
            showMenu: function (index) {
                let restId = this.rest[index].id;
                axios.get('/show-menu/' + restId, {}).then(function (res) {
                    app.menu = res.data;
                    $('#menu').modal('show');
                }).catch(function (err) {
                    console.log(err.data);
                })
            },
            submitOrder: function () {
                let params = {
                    start: $('#start').val(),
                    end: $('#end').val(),
                    ids: this.choosingId,
                    deadline: $('#deadline').val(),
                    receipt_time: $('#receipt').val(),
                }
                // check Time
                let start = params.start;
                let end = params.end;
                let mark = true;
                if (params.deadline == "" || params.receipt_time== "") mark = false;
                if (start.substring(0, 2) > "23" || start.substring(0, 2) < "00" || end.substring(0, 2) > "23" || end.substring(0, 2) < "00") {
                    mark = false;
                }
                if (start.substring(2, 3) != ":" || start.substring(2, 3) != ":" || end.substring(2, 3) != ":" || end.substring(2, 3) != ":") {
                    mark = false;
                }
                if (start.substring(3, 5) > "59" || start.substring(3, 5) < "00" || end.substring(3, 5) > "59" || end.substring(3, 5) < "00") {
                    mark = false;
                }
                if (!mark) {
                    alert('Please check deadline and order receipt time');
                } else {
                    axios.post('/restaurants/generate-link', params).then(function (res) {
                        app.submitted = 1;
                        app.code = res.data.order.code;
                        if (res.data.order.code) {
                            app.link = $(location).attr('host') + "/order/link/" + res.data.order.code;
                        } else {
                            app.link = $(location).attr('host') + "/order/link/" + res.data.order[0].code;
                        }
                    }).catch(function (err) {
                        console.log(err.data);
                    })
                }
            },
            copyToClipBoard: function () {
                var copyText = document.getElementById("order_link");
                copyText.select();
                copyText.setSelectionRange(0, 99999);
                document.execCommand('copy');
            },
            getOrderStatus: function () {
                axios.get('/order/status', {}).then(function (res) {
                    app.status = res.data.status;
                    if (app.status == 'ordered') {
                        app.submitted = 1;
                        app.link = $(location).attr('host') + "/order/link/" + res.data.order.code;
                        app.pickedRestaurants = res.data.restaurants;
                        app.code = res.data.order.code;
                    }
                    app.successfulLoad += 1;

                }).catch(function (err) {
                    console.log(err.data);
                });
            },
            cancelOrder: function () {
                let code = this.code;
                axios.post('/order/' + code + '/cancel', {}).then(function (res) {
                    location.reload();
                }).catch(function (err) {
                    console.log(err.data);
                })
            }
        },
        computed: {
            amount: function () {
                return this.choosingRestaurantIds.length;
            },
            choosingId: function () {
                let arr = [];
                for (let i = 0; i < this.choosingRestaurantIds.length; i++) {
                    arr.push(this.rest[this.choosingRestaurantIds[i]].id)
                }
                return arr;
            }
        },
        watch: {
            successfulLoad: function () { // lay ra tat ca nhung nha hang da chon
                if (this.successfulLoad == 2) {
                    for (let i1 in this.pickedRestaurants) {
                        for (let i2 in this.rest) {
                            if (this.pickedRestaurants[i1].id == this.rest[i2].id) {
                                this.choosingRestaurantIds.push(parseInt(i2));
                                break;
                            }
                        }
                        // console.log(this.pickedRestaurants[i1]);
                    }
                }
            }
        },
        mounted: function () {
            this.getOrderStatus();
            this.getListRetaurants();
        }
    });
    // var cart = new Vue({
    //     el: '#cart-corner',
    //     data: {
    //         amount: 0,
    //     }
    // });
</script>
